#build_box
{
    float: left;
    width: 740px;
    height: 800px;
    background-color: #2c2a29;
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 30px;
    box-shadow: 0px 0px 10px 10px #000;
    text-align: center;
}

.box_input
{
    background-color: #333;
    box-shadow: 0px 0px 30px 5px #e97531;
    padding: 10px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
    padding-bottom: 20px;
    display: inline-block;
}

.input_champ
{
    margin-top: 10px;
    border-color: #e97531;
    border-style: solid;
    border-width: 3px;
    font-size: 30px;
    padding: 5px;
}

.input_items
{
    margin-top: 20px;
    border-color: #e97531;
    border-style: solid;
    border-width: 3px;
    font-size: 30px;
    padding: 5px;
    box-shadow: 0px 0px 10px 10px #000;
}
.item_icon_small img 
{
    float: left;
    margin: 10px;
    -o-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -webkit-transition: all 1s ease;
    border-radius: 20px;
    border-color: #000;
    border-style: solid;
    border-width: 3px;
    width: 60px;
    font-size: 10px;
    height: auto;
}
.item_icon_small img:hover
{
    -o-transition: all 0.8s;
    -o-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -moz-transition: all 0.8s;
    -webkit-transition: all 0.8s;
    -webkit-transform: scale(1.1);
    border-color: #e97531;
}

.item_icon_small_active img 
{
    border-color: #e97531;
    float: left;
    margin: 10px;
    -o-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -webkit-transition: all 1s ease;
    border-radius: 20px;
    border-style: solid;
    border-width: 3px;
    width: 60px;
    font-size: 10px;
    height: auto;
}